{% extends "base.html" %}{% block title %}Sign Up{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Создать аккаунт</h3>
  <div class="form-group">
    <label for="email">Адрес почты</label>

    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Введите адрес почты"
      padding="30"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Имя</label>
    <input
      type="name"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Введите ваше имя"
    />
  </div>
  <div class="form-group">
    <label for="password1">Пароль</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Введите пароль"
    />
  </div>
  <div class="form-group">
    <label for="password2">Подтвердите пароль</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Подтвердите пароль"
    />
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary" id="create_account_button">
      Создать
    </button>
  </div>
</form>
{% endblock %}
